<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Hello, </h2>
<p>
   Room Number <b> <%= @reservation.room_number %></b> booked by <b><%= @user.name %></b> from <b><%= @reservation.start_time %> </b> to <b><%= @reservation.end_time %></b>

</p>
</body>
</html>