<h1>Welcome to NCSU libraries</h1>

<h2> Member </h2>
<%= link_to 'Signup Now', new_member_path %>
<br />
<%= link_to 'Sign-in Here', members_signin_path %>

<h2> Admin  </h2>
<%= link_to 'Sign-in Here', admins_signin_path %>